:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color:#264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvitica, san-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.navbar {
    display: flex;
    justify-content:space-around;
    margin:0;
    padding: 0;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
     
}

.navbar li  {
    flex: content;
    
    
}
.navbar a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    
    
    
}

.navbar li a:hover {
    color: hsl(hue, saturation, lightness)
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {

    margin: 16px;
    padding: 8px;
    display: flex;
}


.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position:absolute;
    top:20px;
    width: 100%;
    padding:16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color:#fff; /* white text */
}

.hero article {
    position:absolute;
    flex-direction: row-reverse;
    bottom:120px;
    width: 95%;
    padding:10px;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color:#000; /* Black text */
    
}

.hero article p {
    text-align: justify;
}
.hero article img {
    justify-content: flex-end;
    width: 125px;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    
}
section h2 {
    color: var(--secondary-color);
    text-align: center;
    min-height: 30px;
    border-color: #000;
    

}
section .content {
    display: flex; 
    justify-content: center;
    margin:0;
    padding: 0;
    align-items: center;
    /* border-color: #000;
    border-style: double; */
}

section .content p{
    flex-direction: row;
    
}

section .content img {
    width: 150px;
    height: 110px;
    align-items: center;
    
}

section .highlights {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:space-between;
    
}
figure {
  border: thin silver solid;
  padding: 5px;
  max-width: 220px;
  
}

figure  img {
  max-width: 150px;
  max-height: 150px;
}

figcaption {
  background-color: #222222;
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}
footer .socialmedia img{
    max-height: 40px;
}

.socialmedia a {
    text-decoration: none;
}