:root {
    --primary-color: #055a05; /* forest green */
    --secondary-color: #f4a261; /* warm sand */
    --accent1-color:#264653; /* dark slate blue */
    --accent2-color: #e9c46a; /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvitica, san-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header img {
    width: 160px;
}
.menu {
    display: flex;
    justify-content:space-around;
    margin:0;
    padding: 0;
}
.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
     
}

.menu li  {
    flex: content;
    
    
}
.menu a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    
    
    
}

.navbar li a:hover {
    color: var(--accent2-color);
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
    display: flex;
}

.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position:absolute;
    top:20px;
    width: 100%;
    padding:16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color:#fff; /* white text */
}

.hero article {
    position:absolute;
    flex-direction: row-reverse;
    bottom:120px;
    width: 95%;
    padding:10px;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color:#000; /* Black text */
    
}

.hero article p {
    text-align: justify;
}
.hero article img {
    justify-content: flex-end;
    width: 125px;
    float:right;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-wrap: wrap;
    
}
section h2 {
    color: var(--secondary-color);
    text-align: center;
    min-height: 30px;
    border-color: #000;
    

}
section .content {
    display: flex; 
    justify-content: center;
    margin:0;
    padding: 0;
    align-items: center;
    /* border-color: #000;
    border-style: double; */
}

section .content p{
    flex-direction: row;
    
}

section .content img {
    width: 150px;
    height: 110px;
    align-items: center;
    
}

section .highlights {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content:space-between;
}

.highlights button {
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: var(--primary-color);
    color: paleturquoise;
    border-radius: .3rem;
    margin-top: 2px;
    width: 100%;
    
}
button a{
    color: paleturquoise;
    text-decoration: none;
}
button a:hover {
    color: palevioletred;
 
}
figure {
  border: thin silver solid;
  padding: 5px;
  max-width: 220px;
  
}

figure  img {
  max-width: 150px;
  max-height: 150px;
}

figcaption {
  background-color: #222222;
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}


footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}
footer .socialmedia img{
    max-height: 40px;
}

.socialmedia a {
    text-decoration: none;
}

.contact { 
    place-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.home_container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 10px;
}

.slider {
    position: relative;
    width: 100vw;
    height: auto;
    left:100%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.box-2 { 
    width: 400px;
    
}
.box-3 {
    width: 400px;
    
}

.form-grid {
    display: grid;
    gap:10px;
    max-width: 400px;
    
}
.form-row {
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 20px;
    align-items: center;
}
.form-row input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.form-row-2 {
    display: grid;
    column-gap: 20px;
    max-width: 400px;
    grid-template-columns: 120px 1fr;
    justify-content: center;
    align-items: center;
    
}
.form-row-2-input {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 10px;
}

.form-row-2-input label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-message {
    display: grid;
}
.form-message textarea{
    padding: 10px
}
.form-row-3 {
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 10px;
}

.form-button {
    display: grid;
    grid-template-columns: 1fr;
}
.form-button button {
    margin:10px 0 10px 0;
    padding: 10px 0 10px 0;
    border-radius: 6px;
    background-color: #055a05;
    color: #fff;

}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
    margin-top: 10px;
}
.testimonials img {
    justify-content: center;
    align-items: center;
    width: 80%;
}

.trips_title {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.trips_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    gap: 10px;
    
}
.trips_container img {
    display: flex;
    width: 100%;
    
}
.trips_container button {
    display: flex;
    padding: 10px;
    border-radius: 6px;
    background-color: #055a05;
    justify-content: center;
    text-decoration: none;
    width: 100%;    
}
.trips_container button:hover {
    background-color: aqua;
}
.trips_container button:hover a {
    color: #000;
}
.trips_container imgcaption {
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
  }