* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%)   
}

main h1 {
    text-align: center;
}

.container {
    display: grid;
}

.box {
    
    width: 400px;
    place-self: center;

    
}

.box label, input, select, button, textarea {
    width: 400px;
    padding: 10px 10px 10px 0;
    margin: 1rem 0 10px 10px;
    
}
.box label {
    
}
.box code {
    display: flex;
    width: 250px;
    align-content: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 50%);
    place-self: center;
    padding: 10px;
    text-align: center;

    
}
