body {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-color: solid 1px #222;
}
.box {
    background-color: #0071ff;    
    /* border: solid 1px #000;*/
    align-content: center;
    text-align: center;

}
.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-1 box-1 box-1"
    "box-2 box-4 box-4 box-4"
    "box-5 box-5 box-6 box-6"
    "box-3 box-3 box-3 box-3";
}
