* {
    margin:0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}
main {
    width: 400px;
    margin:0 auto;
}

h1 {
    margin:10px;
    text-align: 0 auto;
}

h2 {
    border-bottom: 1px solid #222;
}
img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px #333;
}
section {
    margin: 20px 0; 
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px; 
    background-color: #ddd;
    font-size: .9rem;
}
section p {
    margin: 10px; 
}
ul {
    margin: 20px 0 0 20px; 
}

footer{
    font-size: .9rem;
}